$icon-width: 35px;
.form-group {
  .input {
    &.autocomplete {
      position: relative;
      display: inline-block;
      width: 100%;
      .form-control {
        padding-left: 15px;
        padding-right: calc(#{$icon-width} + 25px);
        position: relative;
        z-index: 10;
      }
      .input-icon {
        left: auto !important;
        right: 15px !important;
        z-index: 10;
      }
      .autocomplete-items {
        position: absolute;
        border: 2px solid $input-border-color;        
        border-top: none;
        z-index: 9;
        top: 38px;
        left: 0;
        right: 0;
        @include border-radius(0 0 calc(#{$input-radius} - 20px) calc(#{$input-radius} - 20px));
        background-color: $white;
        padding-top: 38px;
        max-height: 300px;
        overflow-y: auto;
        div {
          padding: 10px;
          cursor: pointer;
          &:last-child{
            @include border-radius(0 0 calc(#{$input-radius} - 22px) calc(#{$input-radius} - 22px));
          }
          &:hover {
            background-color: $secondary-color;
            color: $white;
          }
          &.autocomplete-active {
            background-color: $secondary-color !important;
            color: $white;
          }
        }
      }
    }
  }
}
