@font-face {
  font-family: 'SegoeUI';
  src: url(../fonts/segoeui/SegoeUI.eot);
  src: url(../fonts/segoeui/SegoeUI?#iefix) format("embedded-opentype"),url(../fonts/segoeui/SegoeUI.woff) format("woff"),url(../fonts/segoeui/SegoeUI.woff2) format("woff2"),url(../fonts/segoeui/SegoeUI.ttf) format("truetype"),url(../fonts/segoeui/SegoeUI.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI-Light';
  src: url(../fonts/segoeui/SegoeUI-Light.eot);
  src: url(../fonts/segoeui/SegoeUI-Light.eot?#iefix) format("embedded-opentype"),url(../fonts/segoeui/SegoeUI-Light.woff) format("woff"),url(../fonts/segoeui/SegoeUI-Light.woff2) format("woff2"),url(../fonts/segoeui/SegoeUI-Light.ttf) format("truetype"),url(../fonts/segoeui/SegoeUI-Light.svg) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeUI-SemiBold';
  src: url(../fonts/segoeui/SegoeUI-SemiBold.eot);
  src: url(../fonts/segoeui/SegoeUI-SemiBold?#iefix) format("embedded-opentype"),url(../fonts/segoeui/SegoeUI-SemiBold.woff) format("woff"),url(../fonts/segoeui/SegoeUI-SemiBold.woff2) format("woff2"),url(../fonts/segoeui/SegoeUI-SemiBold.ttf) format("truetype"),url(../fonts/segoeui/SegoeUI-SemiBold.svg) format("svg");
  font-weight: 600;
  font-style: normal;
}
 
@font-face {
  font-family: 'SegoeUI-Bold';
  src: url(../fonts/segoeui/SegoeUI-Bold.eot);
  src: url(../fonts/segoeui/SegoeUI-Bold?#iefix) format("embedded-opentype"),url(../fonts/segoeui/SegoeUI-Bold.woff) format("woff"),url(../fonts/segoeui/SegoeUI-Bold.woff2) format("woff2"),url(../fonts/segoeui/SegoeUI-Bold.ttf) format("truetype"),url(../fonts/segoeui/SegoeUI-Bold.svg) format("svg");
  font-weight: 700;
  font-style: normal;
}