$font-regular: 'SegoeUI';
$font-light: 'SegoeUI-Light';
$font-semi-bold: 'SegoeUI-SemiBold';
$font-bold: 'SegoeUI-Bold';
$body-bg: "../img/body-bg.png";
$container: 1760px;
$xs-container: 377px;
$xsl-container: 470px;
$sm-container: 555px;
$lg-container: 888px;
$base-color: #58595B;
$primary-color: #58595B;
$secondary-color: #9F1C1C;
$gradient-from: #DF1A22;
$gradient-to: #C02632;
$base-font-size: 20px;
$space: 30px;
$input-border-color: #58595B;
$input-placeholder: #58595B;
$input-radius: 50px;
$white: #FFFFFF;
$black: #000000;
$btn-font: 25px;
$btn-radius: 50px;
$round-radius: 50%;
$stroke-color: #EAEAEA;
$md-font: 28px;
$h-input-btn: 73px;
$h-input-btn-small: 35px;
$h-input-btn-medium: 58px;
$box-shadow: 0 3px 6px rgba($black, 0.55);
$xs-font: 16px;
$sm-btn: 30px;
$btn-sm-bg: #A2A2A3;
$lg-modal-dialogue: 888px;
$sec-padding: 25px;
$gray-bg: #A2A2A3;
$transition-time: all ease 0.5s;
$gray-bg: #A2A2A3;
$light-red: #E56B5A;
$mid-red: #DE252F;
$dark-red: #9F1C1C;
$dark-green: #59A41F;
$light-green: #59E11F;
$light-gray: #D1D3D4;


$btn-primary: #C5DC6B;

$check-radio: #9F1C1C;

$pink: #EC18CA;
$yellow: #FFDD00;
$green: #4BEE39;
$cyan: #1BF9E9;



// for responsive 
$h-base-font-size: 18px;
$h-md-font: 24px;
$btn-sh-font: 22px;
$h-input-sh-btn: 55px;
$h-input-sh-btn-small: 35px;
$h-input-sh-btn-medium: 48px;
$section-sh-height: 180px;
$book-sh-image: 135px;

