body {
    background-color: #eee;
    font-family: sans-serif;
    margin: 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.search-highlight {
    background: #e46657;
}
/*.pdfViewer .canvasWrapper {*/
/*    box-shadow: 0 0 3px #bbb;*/
/*}*/


.prev {
    position: fixed;
    left: 0;
    top: 50%;
    z-index: 9999;
    width: 30px;
    height: 30px;

}
.prev img {
    transform: rotate(90deg);
}
.next {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 9999;
    width: 30px;
    height: 30px;
}
.next img {
    transform: rotate(-90deg);
}
.pdfViewer .page {
    margin-bottom: 10px;
    box-sizing: content-box;
}

.annotationLayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

#currentPage, #totalPages{
  padding: 5px;
  margin: 9px 6px 7px 6px;
  border: 1px solid transparent;
  min-width: 33px;
  display: inline-block;
  text-align: center;
}
#currentPage {
    width: 20px;
    border-radius: 0;
}

#currentPage:focus {
    background-color: #fff;
    border: 1px solid #c4c4c4;

}

#comment-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    width: 250px;
    background: #eaeaea;
    border-left: 1px solid #d0d0d0;
}

#comment-wrapper h4 {
    margin: 10px;
}

#comment-wrapper .comment-list {
    font-size: 12px;
    position: absolute;
    top: 38px;
    left: 0;
    right: 0;
    bottom: 0;
}

#comment-wrapper .comment-list-item {
    border-bottom: 1px solid #d0d0d0;
    padding: 10px;
}

#comment-wrapper .comment-list-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 47px;
    overflow: auto;
}

#comment-wrapper .comment-list-form {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
}

#comment-wrapper .comment-list-form input {
    padding: 5px;
    width: 100%;
}
.active {
    background: #aa0e91 !important;
}

h1 {
    color: #EEEEEE;
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}